<link rel="stylesheet" href="/css/home.css" />
<p>
    <% if(locals.user.id == comment.user.id){ %>
      <small>
      <a href="/comment/destroy/<%= comment.id %>">X</a>
    </small>
    <%}%>
    <%= comment.content %>
    <br>
    <small>
      <%= comment.user.name %>
    </small>
  </p>
 