<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="/css/_header.css">

<header class="header">

   <h1>Welcome to Codeial</h1>
   
   <ul class="nav-list">
      <% if(locals.user){ %>

        <li id="list"> <a href="/user/profile"><%= user.name %></a>  </li>
        <li> <a href="/user/logout"><button type="submit" class="btn btn-danger">Sign Out</button></a> </li>

         <%}else{%>
           <li><a href="/user/sign-in"><button type="submit" class="btn btn-success">Sign In</button></a></li>
           <li><a href="/user/sign-up"><button type="button" class="btn btn-primary">Sign Up</button></a>  </li>


         <% } %>
   </ul>

   
</header>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>