 <link rel="stylesheet" href="/css/home.css">
     <h3>Posts</h3>
     <form action="/post/create" method="POST">
        <div class="mb-3">
          <textarea class="form" placeholder="Type Here...." name="content" required cols="20" rows="3"></textarea>
          <button  type="Submit" class="btn btn-primary button">Post</button>
        </div>


<div>

        <ul>
          
          <% for (post of post){%>
            <div class="box">
            <p >
              <li>
                <%= post.content %>
              </li>
              <small>
                <%= user.name %>
              </small>
            </p>
          </div>
            <%}%>
        </ul>

     
      </div>


 </form>
