<link rel="stylesheet" href="/css/home.css" />

<% if(locals.user){ %>

<h3>Posts</h3>

<%- include('_post') -%>


<%}else{%>

  <div style="text-align: center; background-color: aquamarine; height: 100vh;">
     <h1>Welcome To Codeial</h1>
     <h2>Please Sign in / Sign up To Continue</h2>
  
  </div>

  <%}%>