li{
    list-style: none;
}

.box{
    background-color:yellow;
    width: 50%;
}

.form{
    width: 30%;
    margin-left: 40px;
}

h3{
    margin-left: 40px;
}

.button{
    margin-top: -20px;
    margin-left: 10px
}