li{
    list-style: none;
}

.box{
    background-color:yellow;
    width: 50%;
}

.form{
    width: 30%;
    margin-left: 40px;
}

h3{
    margin-left: 40px;
}

.button{
    margin-top: -20px;
    margin-left: 10px
}

.align{
    text-align: center;
    color: dodgerblue;
    margin: auto;
}
.mid{
    padding-top: 100px;
    height: 100vh;
    background-image: url(https://i.pinimg.com/600x315/b3/ff/b2/b3ffb2857c6422fa3d13a3d474032194.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

