li{
    list-style: none;
}

.box{
    background-color:yellow;
    width: 50%;
}

.form{
    width: 30%;
    margin-left: 40px;
}

h3{
    margin-left: 40px;
}

.button{
    margin-top: -20px;
    margin-left: 10px
}

.align{
    text-align: center;
    color: dodgerblue;
    margin: auto;
}
.mid{
    padding-top: 100px;
    height: 100vh;
    background-color: aquamarine;

}

.comment{
    width: 30%;
    margin-left: 40px;
}

div.box{
    margin-left: 40px;
}

